[Desktop Entry]
Type=Application
Name=Tint2 Settings
GenericName=Panel configurator
Comment=Tool to configure the tint2 panel
Exec=tint2conf
Icon=/usr/pkg/share/pixmaps/openbox.png
Terminal=false
Categories=Settings;DesktopSettings;
MimeType=application/x-tint2-theme
